extends Website 

block content
  h2 #{title3}
  h3 #{title4}
  br
  meta(name='viewport' content='width=100%, initial-scale=1')
  style.
    body {font-family: Arial;}
    /* Style the tab */
  form(method='POST', action='/createAccount')
    #form-group
      label FirstName:
      input.form-control(name = 'FirstName', type = 'text')
    #form-group 
      label LastName: 
      input.form-control(name = 'LastName', type = 'text')
    #form-group 
      label Email: 
      input.form-control(name = 'Email', type = 'text')
    #form-group 
      label Password 
      input.form-control(name = 'Password', type = 'text')
    input.btn.btn-primary(type='submit',value='Submit')
