extends Website 

block content
  h2 #{title3}
  h3 #{title4} #{title5} #{title6}
  
    form(method = 'POST', action = '/Create-A-Car')
      br
      |     Car brand:
      select(name='brand')
        option(value= '') None
        option(value='Ford')  Ford
        option(value='BMW')  BMW
        option(value='Toyota')  Toyota
        option(value='Lincoln')  Lincoln
        option(value='Subaru')  Subaru
      br
      br
      |     Type:
      select(name='type')
        option(value= '') None
        option(value='Sedan')  Sedan
        option(value='Van')  Van
        option(value='Truck')  Truck
        option(value='Convertible')  Convertible
        option(value='Coupe')  Coupe
      br
      br
      fieldset
        legend  Package
        input#packageStandard(type='radio' name='package' value='standard')
        label(for='packageStandard')  Standard
        br
        input#packageSport(type='radio' name='package' value='sport')
        label(for='packageSport')  Sport
        br
        input#packageLimited(type='radio' name='package' value='limited')
        label(for='packageLimited')  Limited
        br
      br
      |     Interior color:
      select(name='intColor')
        option(value= '') None
        option(value='Red')  Red
        option(value='Orange')  Orange
        option(value='Yellow')  Yellow
        option(value='Green')  Green
        option(value='Blue')  Blue
        option(value='Purple')  Purple
        option(value='Black')  Black
        option(value='White')  White
        option(value='Pink')  Pink
        option(value='Silver')  Silver
        option(value='Brown')  Brown
        option(value='Gold')  Gold
        option(value='Tan')  Tan
      br
      br
      |     Exterior color:
      select(name='extColor')
        option(value= '') None
        option(value='Red')  Red
        option(value='Orange')  Orange
        option(value='Yellow')  Yellow
        option(value='Green')  Green
        option(value='Blue')  Blue
        option(value='Purple')  Purple
        option(value='Black')  Black
        option(value='White')  White
        option(value='Pink')  Pink
        option(value='Silver')  Silver
        option(value='Brown')  Brown
        option(value='Gold')  Gold
        option(value='Tan')  Tan
      br
      br
      |     Your Maximum price: 
      input(type='number' name='startPrice' min='10000' max='100000' step='100')
      br
      br
      button(onclick='car_create()')
        | Create
        
