extends Website 

block content
  h2 #{title3}
  h3 #{title4} 
  
    form(method = 'POST', action = '/Create-A-Car/yourCars')
      br
      fieldset
        legend  How would you like to Sort the Cars?
        input#packageStandard(type='radio' name='package' value='Price')
        label(for='packageStandard')  Price
        br
        input#packageSport(type='radio' name='package' value='Package')
        label(for='packageSport')  Package
        br
        input#packageLimited(type='radio' name='package' value='Brand')
        label(for='packageLimited')  Brand
        br
      br
      fieldset 
        legend Choose Order (Decending or Acending)
        input#orderAcending(type='radio' name='order' value='Acending')
        label(for='orderAcending') Acending 
        br
        input#orderDecending(type='radio' name='order' value='Decending')
        label(for='orderDecending') Decending 
        br
      input.btn.btn-primary(type='submit', value='Search')
        
