extends Website 

block content
  h1 #{title3}
  h2 #{title4}
  br
  meta(name='viewport' content='width=100%, initial-scale=1')
  style.
    body 
    /* Style the tab */
  form(method='POST', action='/createAccount')
    #form-group
      label First Name: 
      input.form-control(name = 'FirstName', type = 'text')
    br
    #form-group 
      label Last Name: 
      input.form-control(name = 'LastName', type = 'text')
    br
    #form-group 
      label Email: 
      input.form-control(name = 'Email', type = 'text')
    br
    #form-group 
      label Password: 
      input.form-control(name = 'Password', type = 'password')
    br
    #form-group
      label Confirm Password: 
      input.form-control(name = 'Confirm', type = 'password')
    br
    input.btn.btn-primary(type='submit', value='Submit')
