extends Website 

block content
  h2 #{title3}
  h3 #{title4}
  br
  meta(name='viewport' content='width=100%, initial-scale=1')
  style.
    body {font-family: Arial;}
    /* Style the tab */
  form(method='POST')
  |        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: 
  input(name='email')
  br
  br
  |     Password: 
  input(name='password')
  br
  br
  |  Are you a staff member? 
  input#staffYes(type='radio' name='staffQuestion' value='yes')
  label(for='staffYes')  Yes
  input#staffNo(type='radio' name='staffQuestion' value='no')
  label(for='staffNo')  No
    br
    button(onclick='sign_in()')
      | Sign in