extends Website 

block content
  h2 #{title3}
  h3 #{title4}
  br
  meta(name='viewport' content='width=100%, initial-scale=1')
  style.
    /* Style the tab */
  form(method='POST', action='/Sign-in')
    #form-group
      label Email: 
      input.form-control(name = "Email", type = "text")
    br
    #form-group
      label Password 
      input.form-control(name = "Password", type = "password")
    br
    input.btn.btn-primary(type='submit', value='Submit')